
<div class="eqLogic eqLogic-widget" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#" style="margin-top: 2px;margin-right: 2px;">
    <i class="fas fa-sync"></i>
  </span>
  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
  <center>
    <span class="widget-name">
      <span style="#hideEqLogicName#">#name_display#</span><br/>
    </span>
  </center>
  <center>
    <!-- Plugzy -->
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#plugzyId#" data-version="#version#">
      <span title="" class="plugzy#plugzyId# cursor action btn">
          <i class="plugzy"></i>
      </span>
    </span>
    <!-- off -->
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#cmd_off_id#" data-version="#version#">
      <span title="Mode OFF" class="off cursor action btn">
          <i class="jeedom-off"></i>
      </span>
    </span>
    <span>&nbsp;</span>
    <!-- confort -->
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#cmd_confort_id#" data-version="#version#">
      <span title="Mode Confort" class="confort cursor action btn">
        <i class="meteo-soleil"></i>
    </span>
    </span>
    <span>&nbsp;</span>
    <!-- Eco -->
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#cmd_eco_id#" data-version="#version#">
      <span title="Mode Eco" class="eco cursor action btn">
        <i class="nature-night2"></i>
      </span>
    </span>
    <span>&nbsp;</span>
    <!--  Hors Gel -->
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#cmd_hg_id#" data-version="#version#">
      <span title="Mode Hors Gel" class="horsgel cursor action btn">
        <i class="nature-snowflake"></i>
      </span>
    </span>
    <span>&nbsp;</span>
    <!--  programmation -->
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="" data-version="#version#">
      <span title="" class="prog cursor action btn" data-cmd_id="#cmd_prog_id#" data-type="info" data-subtype="numeric" data-version="#version#">
        <i class="programmation"></i>
       </span>
    </span>
  </center>
  <script>
    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
      jeedom.cmd.execute({id: $(this).data('cmd_id')});
    });
    jeedom.cmd.update['#Etatid#'] = function(_options){
      $('.cmd[data-cmd_id=#Etatid#]').attr('title','Collectée le '+_options.collectDate);
      $('.cmd[data-cmd_id=#cmd_confort_id#] .confort i.meteo-soleil').css("color","");
      $('.cmd[data-cmd_id=#cmd_eco_id#] .eco i.nature-night2').css("color","");
      $('.cmd[data-cmd_id=#cmd_hg_id#] .horsgel i.nature-snowflake').css("color","");
      $('.cmd[data-cmd_id=#cmd_off_id#] .off i.jeedom-off').css("color","");

      if (_options.display_value == '0') {
        $('.cmd[data-cmd_id=#cmd_confort_id#] .confort i.meteo-soleil').css("color","#00FF00"); /// Mode Confort
      }else if (_options.display_value == '1') {
        $('.cmd[data-cmd_id=#cmd_eco_id#] .eco i.nature-night2').css("color","#00FF00");        /// Mode Eco
      }else if (_options.display_value == '2') {
        $('.cmd[data-cmd_id=#cmd_hg_id#] .horsgel i.nature-snowflake').css("color","#00FF00");/// Mode HorsGel
      }else {
        $('.cmd[data-cmd_id=#cmd_off_id#] .off i.jeedom-off').css("color","#00FF00");     /// Mode Off
      }
    }
    jeedom.cmd.update['#Etatid#']({display_value:'#Etat#',collectDate:'#collectDate#'});

    jeedom.cmd.update['#cmd_prog_id#'] = function(_options){
        if(_options.display_value == 1) {
          $('.prog[data-cmd_id=#cmd_prog_id#]').empty().append('<i class="fa fa-toggle-on progoff" style="font-size : 1.1em;color: #00FF00;"></i>');
          $('.prog[data-cmd_id=#cmd_prog_id#]').attr('title', 'Désactiver la programmation');
          $('.prog[data-cmd_id=#cmd_prog_id#]').parent().attr('data-cmd_id', '#cmd_progoff_id#');
        } else {
          $('.prog[data-cmd_id=#cmd_prog_id#]').empty().append('<i class="fa fa-toggle-off progon" style="font-size : 1.1em;color: #FF0000;"></i>');
          $('.prog[data-cmd_id=#cmd_prog_id#]').attr('title', 'Activer la programmation');
          $('.prog[data-cmd_id=#cmd_prog_id#]').parent().attr('data-cmd_id', '#cmd_progon_id#');
        }
      }
    jeedom.cmd.update['#cmd_prog_id#']({display_value:'#info_prog#'});
    
    jeedom.cmd.update['#plugzyId#'] = function(_options){
    	if(_options.display_value == 1) {
    		$('.plugzy#plugzyId#').attr('title', 'Eteindre Plugzy');
        $('.plugzy#plugzyId# i.plugzy').empty().append('<i class="jeedom-prise plugzyoff" style="font-size : 1.1em;color: #00FF00;"></i>');
        $('.plugzy#plugzyId#').parent().attr('data-cmd_id', '#cmd_plugzyoff_id#');
      } else {
        $('.plugzy#plugzyId#').attr('title', 'Allumer Plugzy');
        $('.plugzy#plugzyId# i.plugzy').empty().append('<i class="jeedom-prise plugzyon" style="font-size : 1.1em;color: #FF0000;"></i>');
        $('.plugzy#plugzyId#').parent().attr('data-cmd_id', '#cmd_plugzyon_id#');
      }
    }
    jeedom.cmd.update['#plugzyId#']({display_value:'#plugzy#'});
  </script>
</div>
